@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}
/* Creating a variable  */
:root {
  --primary-color: #be185d;
  --grey: #9ca3af;
  --light-grey: #f9fafb;
  --yellow: #fffbeb;
}

.container {
  padding: 0rem 1rem;
  margin: auto;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.link-secondary {
  color: var(--primary-color);
  background-color: white;
  border: 2px solid var(--primary-color);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}

hr {
  margin: 2rem 2rem;
}

ul .list-non-bullet {
  text-align: left;
}

.list-non-bullet {
  list-style: none;
}
/* For making list item inline */
.list-inline {
  list-style: none;
  display: inline;
  padding: 0rem 2rem;
}

.nav {
  background-color: var(--primary-color);
  color: white;
  border-bottom-left-radius: 1rem;

  /* padding: 0.1rem 0.1rem; */
}
/* Link class inside nav class */
.nav .link {
  text-decoration: none;
  color: white;
}
.nav-brand {
  padding: 0.5rem 0.1rem;
}

.link-list {
  padding-bottom: 0.5rem;
  text-align: left;
  padding-left: 0px;
}

.header {
  text-align: center;
}
.hero-image {
  max-width: 350px;
  margin: auto;
}

.header-heading {
  color: var(--grey);
}

.header-heading-main {
  color: var(--primary-color);
}

.section h3 {
  text-align: center;
}
.light-grey {
  background-color: var(--light-grey);
  text-align: center;
}

.section {
  padding: 1rem;
}

.footer {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 1rem;
  border-top-right-radius: 1rem;
  margin-top: 2rem;
}

.footer .link {
  color: white;
}

.section-description {
  color: var(--primary-color);
}
.link-active {
  font-weight: bolder;
}

.link-projects {
  margin: 2rem;
}

.heading-projects {
  margin: 0px 0px;
  font-weight: bolder;
  font-size: large;
}

.smaller {
  font-size: smaller;
}
.grey-text {
  color: var(--grey);
}
.yellow-background {
  background-color: var(--yellow);
  /* padding-bottom: 3rem; */
}

.img {
  width: 100%;
  height: auto;
  display: block;
  align-items: center;
}

.hero-blog {
  padding: 1rem 1rem;
  width: 97%;
}

.blog-heading {
  padding: 0rem 1rem;
}
